[run]
omit =
    soroscan/settings.py
    soroscan/settings_test.py
    soroscan/wsgi.py
    soroscan/asgi.py
    soroscan/ingest/migrations/*
source = soroscan

[report]
omit =
    soroscan/settings.py
    soroscan/settings_test.py
    soroscan/wsgi.py
    soroscan/asgi.py
    soroscan/ingest/migrations/*
fail_under = 50
show_missing = true
skip_covered = false
